.button {
  padding: 0.75rem 1rem;
  font-size: 16px;

  border: 1px solid darkgray;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color .2s ease-in-out;
}

.success {
  border-color: darkcyan;
  background-color: lightseagreen;
}

.success:hover {
  background-color: cadetblue;
}

.danger {
  border-color: darkred;
  background-color: firebrick;
}

.danger:hover {
  background-color: rgb(129, 13, 13);
}
